.menuWrapper {
  position: relative;
  width: 26px;
  cursor: pointer;
  z-index: 10;
}

.menuBg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
}

.menuBg circle {
  fill: none;
  transition: fill .2s ease-in-out;
}

.menuWrapper:hover .menuBg circle {
  fill: var(--background-gray);
}

.menuWrapper:hover .menuPoints circle {
  fill: var(--background-white);
}

.menuPoints {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.menuPoints circle {
  transition: fill .2s ease-in-out;
}

