.timerContainer {
  max-width: 733px;
  max-height: 507px;
  background-color: var(--background-gray-light);
  flex-grow: 1;
}

.timerHeader {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: var(--background-gray-darker);
}

.timerBody {
  padding: 70px 0 107px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskNameHeader {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: var(--text-white);
}

.currentTomato {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: var(--text-white);
}

.timer {
  font-weight: 200;
  font-size: 150px;
  line-height: 179px;
  color: var(--text);
  position: relative;
}

.plus {
  position: absolute;
  top: 50%;
  right: -75px;
  transform: translateY(-50%);
  cursor: pointer;
}

.plus circle {
  transition: fill .2s ease-in-out;
}

.plus:hover circle {
  fill: var(--green-dark);
}

.taskDescr {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: var(--text);
  margin-bottom: 32px;
}

.taskNumber {
  color: var(--text-gray);
}

.startBtn {
  margin-right: 25px;
  background-color: var(--green);
}

.startBtn:hover {
  background-color: var(--green-dark);
}

.stopBtn {
  background-color: transparent;
  border: 1px solid var(--border-gray-darker);
  color: var(--text-gray-darker);
}

.stopBtnRed {
  background-color: transparent;
  border: 1px solid var(--red-main);
  color: var(--red-main);
}

.stopBtnRed:hover {
  background-color: var(--red-main);
  border: 1px solid var(--red-main);
  color: var(--text-white);
}

.stopBtn:hover {
  background-color: var(--background-gray-darker);
  color: var(--text-white);
}

.stopBtn:disabled {
  cursor: initial;
}

.stopBtn:disabled:hover {
  background-color: transparent;
  border: 1px solid var(--border-gray-darker);
  color: var(--text-gray-darker);
}
